* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-imc {
  width: 100vw;
  height: 100vh;
  background-color: #201b2c;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.left-imc {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-imc > h1 {
  color: #77ffc0;
}

.right-imc {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-imc {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  border-radius: 20px;
  background: #2f2841;
  backdrop-filter: blur(20px);
  box-shadow: 0px 10px 40px #00000056;
}

.card-imc > h1 {
  padding: 10px;
  color: #00ff88;
  font-weight: 800;
  margin: 0;
}

.textfield-nome,
.textfield-peso,
.textfield-altura,
.textfield-calc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
  gap: 10px;
}

input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background: #514869;
  color: white;
  font-size: 12pt;
  box-shadow: 0px 10px 40px #00000056;
  outline: none;
  box-sizing: border-box;
}

label {
  color: white;
  margin-bottom: 2px;
  font-weight: bold;
}

input::placeholder {
  color: purple;
  background-color: #77ffc0;
}

button {
  width: 230px;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  justify-content: center;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
}

.img {
  width: 31rem;
  max-width: 100%;
}

#resultado {
  color: white;
  font-weight: bold;
}

.footer {
  display: flex;
  background-color: #17a649;
  height: 60px;
  width: 100vw;
  align-items: center;
}

.footer p {
  padding: 10px 15px;
  flex: 1;
  text-align: center;
  font-size: 1.55em;
  color: white;
}

/* mobile */
@media (max-width: 480px) {
  .img {
    display: none;
  }

  .left-imc {
    display: none;
  }

  .right-imc {
    width: 100vw;
    height: 100vw;
  }

  .card-imc {
    width: 65%;
    display: flex;
    margin: 0px 15px;
    padding: 20px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .card-imc > h1 {
    text-align: center;
  }

  .footer {
    display: flex;
  }
}
